<ul class="clearfix">
	<li class="EachModule fl">
		<div class="DInfoBox">
			<div class="DInfo">
				<div class="Dbox">
					<div class="DNum"><span class="EmployeeNum">0</span>人</div>
					<div class="DType">employee</div>
				</div>
			</div>
			<div class="DInfo">
				<div class="Dbox">
					<table class="TeamNum">
						<tbody>


						</tbody>
					</table>
				</div>
			</div>
		</div>
	</li>
	<li class="EachModule fl">
		<div class="DInfoBox">
			<div class="DInfo">
				<div class="Dbox">
					<div class="DNum"><span class="TotalTimeNum">0</span>时</div>
					<div class="DType">workload</div>
				</div>
			</div>
			<div class="DInfo">
				<div class="Dbox">
					<table class="TeamTime">
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</li>
	<li class="EachModule fl">
		<div class="DInfoBox">
			<div class="DInfo">
				<div class="Dbox">
					<div class="DNum"><span class="TotalIndividualNum">0</span>时/人</div>
					<div class="DType">individual</div>
				</div>
			</div>
			<div class="DInfo">
				<div class="Dbox">
					<table class="TeamIndiv">
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</li>
</ul>
	<div class="moduleSearch">
		<div class="DInfoBox SearchBox">
			<div class="searchT">
				<div class="dropdown StartTime">
					<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
							data-toggle="dropdown">
						 --
					</button>
					<span class="caret"></span>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					</ul>
				</div>
				<div class="wd">至</div>
				<div class="dropdown EndTime">
					<button type="button" class="btn dropdown-toggle" id="dropdownMenu2" 
							data-toggle="dropdown">
						 --
					</button>
					<span class="caret"></span>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
					</ul>
				</div>
			</div>
			<div class="searchB">
				<div class="dropdown TeamSelect">
					<button type="button" class="btn dropdown-toggle" id="dropdownMenu3" 
							data-toggle="dropdown">
						 All Team
					</button>
					<span class="caret"></span>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
					</ul>
				</div>
				<button type="button" class="btn btn-info searchBtn" onclick="searchData()">查询</button>
			</div>
		</div>
	</div>